<section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>Angular State Management</h4>
        </div>
  
        <div class="col-md-6">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let product of productItems$ | async">
              {{product.productId}}:
               <b>{{product.productName}}</b>-
               <b>{{product.quantityOnHand}}</b>-
               <b>{{product.price}}</b>
            </li>
  
          </ul>
        </div>
  
        <div class="col-md-6">
          <div class="card p-4 shadow-sm">
  
            <form #productForm="ngForm" (ngSubmit)="addProduct(productForm)">
              <div class="form-group">
                <div>
                  <label> Product Id </label>
                  <input type="text" class="form-control" ngModel name="productId">
                </div>
                <div>
                  <label> Product Name </label>
                  <input type="text" class="form-control" ngModel name="productName">
                </div>
                <div>
                  <label> Quantity On Hand </label>
                  <input type="text" class="form-control" ngModel name="quantityOnHand">
                </div>
                <div>
                  <label> Price </label>
                  <input type="text" class="form-control" ngModel name="price">
                </div>
                <button [disabled]="!productForm.valid" type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>