<hr/><h1><p align="center">{{message | reverseString }}</p></h1>
<h3>Salary is : {{ salary | currency:'INR'}}</h3>
<a routerLink="productList">Product List</a>|
<a routerLink="productDetail">Product Detail</a>|
<a routerLink="city">City/Weather</a>|
<a routerLink="userForm">UserForm</a>|
<a routerLink="addProduct">Add Product</a>|

<a routerLink="aboutUs">About Us</a>|

<router-outlet></router-outlet>


<br/>
<br/>

<br/><br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<br/>
<br/><br/>
<h6 class="mystyle">This website gives you freedom to create,update,delete, view products</h6>


